.backdrop {
  position: fixed;
  inset: 0;
  background-color: lightblue;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rebeccapurple;
}
